.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
  align-items: flex-start;
  row-gap: 2rem;
  column-gap: 1rem;

  // DA TOGLIERE
  // per mantenere giu la finestra sull'hover delle card
  margin: 2rem 0 10rem;

  @media screen and (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 660px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  position: relative;
  box-shadow: 0 0 1px $gray--1;

  &__head {
    position: relative;
    height: 14rem;
    display: flex;
    align-items: center;
  }
  &__img {
    width: 100%;
  }

  &__body {
    padding: 1rem;
  }

  &__info {
    position: absolute;
    top: .5rem;
    left: .5rem;

    color: $gold--1;
    padding: .25rem .5rem;
  }
  &__tag {
    @include tag-gold;

    position: absolute;
    top: .5rem;
    right: .5rem;
  }
  &__heart {
    position: absolute;
    right: 1rem;
    bottom: .5rem;

    height: 1.5rem;
    &:hover {
      cursor: pointer;
      transform: scale(.9);
    }
  }

  &__title {
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }
  &__text {
    font-size: .875rem;
  }

  &__spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__price {
    font-size: 1.875rem;
    font-family: "Futura700";
  }

  &__btn {
    @include btn-gold;

    width: 100%;
    margin-top: 1.5rem;
    font-size: 15px;
  }

  // spazi bianchi nel contorno delle card
  &::after {
    content: "";
    
    position: absolute;
    top: 10%;
    right: -.25rem;
    
    display: block;
    width: .5rem;
    height: 50%;

    background: $white;
  }
  &::before {
    content: "";

    position: absolute;
    top: -.25rem;
    right: 10%;
    
    display: block;
    width: 70%;
    height: .5rem;

    background: $white;
  }

  &__dropdown {
    display: none;
  }
  &:hover {
    box-shadow: 0 .25rem .5rem $gray--1;
    
    & .card__dropdown {
      display: block;

      position: absolute;
      z-index: 1;

      width: 100%;
      padding: 0 1rem 1rem;

      background-color: white;
      box-shadow: 0 .5rem .5rem $gray--1;
    }

    &::after,
    &::before {
      display: none;
    }
  }
}