.filters {
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  &__bar {
    margin-top: 4rem;
    padding: 1rem 2rem;
    position: relative;
  
    color: black;
  
    display: flex;
    justify-content: space-between;

    text-transform: uppercase;
    font-family: "Futura500";

    &:hover {
      cursor: pointer;
    }
    
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: .25rem;
      background-color: $white;
      box-shadow: 0 .25rem .3rem rgba(0, 0, 0, .3);
    }
  
  }
  &__icon {
    vertical-align: bottom;
    margin-left: .5rem;
  }
  
  &__dropdown {
    padding: 1rem;
    display: flex;

    &__cols {
      flex-grow: 1;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
    }

    &__col {
      padding: .5rem 2rem;
      min-width: 8.75rem;
      flex-shrink: 0;
      border-right: solid 1.5px $gold--0;

      &:last-of-type {
        border-right: none;
      }
    }

    & &--close {
      display: none;
    }
  }
  &--close {
    box-shadow: none;

    .filters__dropdown {
      display: none;
    }
  }

  &__title {
    color: $gold--1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .75rem;
  }
  &__input {
    display: none;

    &:checked + label {
      color: $gold--1;
      font-weight: 700;
    }
  }
  &__label {
    display: block;
    &:hover {
      cursor: pointer;
    }
  }

  &__submit {
    @include btn-gold;
    
    align-self: flex-end;
    margin-left: auto;
  }


  @media screen and (max-width: 700px) {
    &__dropdown {
      display: block;
      &__cols {
        display: block;
        overflow-y: scroll;
        max-height: 80vh;
      }
      &__col {
        border-right: none;
      }
      
      &__submit {
        display: block;
      }
    } 
  }
}
