@import "@scssFolder/variables";
@import "@scssFolder/fonts";
@import "@scssFolder/mixins";

*,
*::before, 
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Futura500";
  color: black;
  font-size: 15px;
}


.container {
  max-width: 75%;
  margin: 0 auto;

  @media screen and (max-width: 375px) {
    max-width: unset;
    margin: 0 1rem;
  }
}

// Icons
.play-icon {
  stroke: $white;
  stroke-width: 2px;
  height: 1rem;
  margin-right: .25rem;
}

.star--fill,
.star--stroke {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}
.star--fill {
  background-image: url("../images/star-fill.svg");
  background-size: cover;
}
.star--stroke {
  background-image: url("../images/star-stroke.svg");
  background-size: cover;
}

@import "@scssFolder/header";
@import "@scssFolder/filters";
@import "@scssFolder/cards";