@mixin reset-btn {
  background: none;
  border: none;
}

@mixin btn-gold {
  padding: 1rem 1.5rem;
  border: none;

  background: $gold--1;
  color: white;

  text-transform: uppercase;
  font-family: "Futura700";

  &:hover {
    cursor: pointer;
    transform: scale(.9);
  }
}

@mixin tag-gold {
  padding: .25rem .5rem;
  border-radius: 1rem;

  background-color: $gold--1;
  color: $white;
  
  font-size: .75rem;
  font-family: "Futura700";
  text-transform: uppercase;
}

@mixin title-gold {
  color: $gold--1;
  font-family: "Futura700";
  text-transform: uppercase;
}


// ICONS
@mixin bg-icon {
  background-size: contain;
  background-repeat: no-repeat;
}
@mixin heart {
  @include bg-icon;
  background-image: url("../images/heart-stroke.svg");

  &--fill {
    @include bg-icon;
    background-image: url("../images/heart-fill.svg");
  }
}
@mixin star {
  @include bg-icon;
  background-image: url("../images/star-stroke.svg");

  &--fill {
    @include bg-icon;
    background-image: url("../images/star-fill.svg");
  }
}